<h1>Lista de DBZ</h1>
<ul class="list-group">

    <li *ngFor="let character of characterList; let i=index; let isPar=even   "
    class="list-group-item d-flex justify-content-between"
    [ngClass]="{'list-group-item-success':isPar}">
    <div>
        <span class="text-primary">{{i+1}}</span>
        <span>
            {{character.name}} -
        </span>
        <strong>
            power:
        </strong>
        <span>
            {{character.power}}
        </span>
        <!-- <span>
            {{character.id}}
        </span> -->
    </div>
    <span class="btn btn-danger" (click)="onDeleteCharacter(character.id)"> X</span>
</li>
</ul>
